<div class="container-fluid justify-content-center">
  <h3>Структурный анализ</h3>
  <div class="cards">
    <div class="card-deck">
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Расчёт удельного веса атрибутов документа в сумме атрибутов докумнта высшего уровня(оценка релевантности целей и задач документа Основам)</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Распределение работ документа по атрибутам Основ(цели,задачи, приоритеты, периоды получения результатов)</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Количественная оценка распределения мероприятий и объёмов финансирования документа по атрибутам Основа</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Распределение целевых индикаторов различных программных документов по атрибутам основ</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Возможность задания перечня программных документов и любых атрибутов для анализа (как в Основах, так и в программных документах) пользователем</div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Изменение количества целей, задач, направлений, подпрограмм и т.д.</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Изменение количества мероприятий - в целом и по направлениям (подпрограмм)</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Появление/удаление приложений (разделов) из документа</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Возможность задания перечня  атрибутов для анализа пользователем</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Количество мероприятий для каждой цели и задачи</div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Мероприятия, не обеспечивающие достижения конкретной цели (задачи)</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Задачи (цели), не обеспеченные мероприятиями</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Распределение целевых индикаторов по мероприятиям, целям и задачам документа</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Мероприятия, цели и задачи, не обеспеченные индикаторами</div>
      </div>
      <div class="card flex-row flex-wrap" [routerLink]="['/work']">
        <div class="card-title  ">Индикаторы, не связанные ни с одной целью (задачей, мероприятием)</div>
      </div>
    </div>
  </div>
</div>
