<div class="container-fluid justify-content-start" *ngIf="isLoaded">
  <app-version-selector
    [versions]="versions"
    (versionSelected)="changeCurrentVersion($event)"
  ></app-version-selector>
  <div class="card table-card">
    <div class="card-body">
      <div class="card-title text-center">
        <span>Перечень космических аппаратов научного и социально-экономического назначения, запуск которых осуществляется в рамках Федеральной космической программы России на 2016-2025 годы</span>
      </div>
      <dx-data-grid class="table"
                    id="goalsContainer"
                    [dataSource]="this.current_version.spacecrafts"
                    [hoverStateEnabled]="true"
                    [allowColumnReordering]="true">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column caption="Описание" dataField="spacecraftDescription" dataType="string"></dxi-column>
        <dxi-column caption="Категория" dataField="categoryName" dataType="string"></dxi-column>
        <dxi-column caption="Космические аппараты" dataField="spacecraftCode" dataType="string"></dxi-column>
        <dxi-column caption="2015" dataField="y2015" dataType="string"></dxi-column>
        <dxi-column caption="2016" dataField="y2016" dataType="string"></dxi-column>
        <dxi-column caption="2017" dataField="y2017" dataType="string"></dxi-column>
        <dxi-column caption="2018" dataField="y2018" dataType="string"></dxi-column>
        <dxi-column caption="2019" dataField="y2019" dataType="string"></dxi-column>
        <dxi-column caption="2020" dataField="y2020" dataType="string"></dxi-column>
        <dxi-column caption="2021" dataField="y2021" dataType="string"></dxi-column>
        <dxi-column caption="2022" dataField="y2022" dataType="string"></dxi-column>
        <dxi-column caption="2023" dataField="y2023" dataType="string"></dxi-column>
        <dxi-column caption="2024" dataField="y2024" dataType="string"></dxi-column>
        <dxi-column caption="2025" dataField="y2025" dataType="string"></dxi-column>
        <dxi-column caption="Ракета-носитель" dataField="rocketTypeName" dataType="string"></dxi-column>
        <dxi-column caption="Разгонный блок" dataField="boosterTypeName" dataType="string"></dxi-column>
        <dxi-column caption="Космодром" dataField="spaceLaunchCode" dataType="string"></dxi-column>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
  </div>
</div>
