#sidebar-wrapper {
  background: #192A3B;
  color: #fff;
  padding-top: 38px;
  min-height: 100vh;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
}
#sidebar-wrapper .sidebar-header, h3 {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 30px;
}
.sidebar-logo {
  display: inline-block;
  margin-right: 12px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.side-bar-container {
  display: grid;
  min-height: 95vh;
}

.menus {
  min-height: 70vh;
}

.menu {
  //margin-top: 28px;
}
.menu-header {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #64809F;
}
.menu-list {
  list-style-type: none;
  padding-right: 5px;
  .menu-list-item {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #64809F;
  }
  .menu-list-item:hover {
    color: white;
  }
}
.side-menu {
}
.side-menu-list {
  list-style-type: none;
  .menu-list-item {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #64809F;
  }
  .menu-list-item:hover {
    color: white;
  }
}
.profile {
  padding-right: 5px;
  min-height: 12vh;
  vertical-align: bottom;
  .scale {
    margin: 0 36px;
  }
}

.custom-range::-webkit-slider-thumb {
  background-color: #192A3B;
  border: white;
}

.custom-range::-moz-range-thumb {
  background: #192A3B;
}

.custom-range::-ms-thumb {
  background: #192A3B;
}
