<div class="loader" *ngIf="!isLoaded"></div>
<div class="container-fluid justify-content-start" *ngIf="isLoaded">
  <ng-container class="card" *ngIf="current_version">
    <div class="version-select dropdown">
      <div (click)="showSelector()">
        <span *ngIf="current_version" class="select-item">{{current_version.code}}</span>
        <button class="btn dropdown-toggle"></button>
        <p><small class="text-muted">{{current_version.description}}</small></p>

      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  [ngClass]="{'show': toggleFlag}">
        <ng-select class="dropdown-item"
                   [clearable]="false"
                   [searchable]="true"
                   [placeholder]="'поиск'"
                   [(ngModel)]="current_version"
                   (ngModelChange)="changeCurrentVersion()">
          <ng-container *ngFor="let version of versions">
            <ng-option [value]="version">{{version.code}}</ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="info-cards row" *ngIf="current_version">
      <div class="card col-3 flex-row flex-wrap ">
        <div class="card-header" [inlineSVG]="'./assets/icons/rub.svg'"  [setSVGAttributes]="{'width' : '36px', 'height' : '36px'}"></div>
        <div class="card-block">
          <span class="card-title">ФИНАНСИРОВАНИЕ</span>
          <h4 class="card-text"> {{ current_version.generalInfo.totalFinanceLimit}}млн</h4>
        </div>
      </div>
      <div class="card col-3 flex-row flex-wrap ">
        <div class="card-header" [inlineSVG]="'./assets/icons/project.svg'" [setSVGAttributes]="{'width' : '36px', 'height' : '36px'}"></div>
        <div class="card-block">
          <span class="card-title">ПРОЕКТОВ</span>
          <h4 class="card-text"> {{current_version.generalInfo.totalProjects}}</h4>
        </div>
      </div>
      <div class="card col-3 flex-row flex-wrap ">
        <div class="card-header" [inlineSVG]="'./assets/icons/event.svg'" [setSVGAttributes]="{'width' : '36px', 'height' : '36px'}"></div>
        <div class="card-block">
          <span class="card-title">МЕРОПРИЯТИЯ</span>
          <h4 class="card-text">{{current_version.generalInfo.totalWorks}} </h4>
        </div>
      </div>
      <div class="card col-3 flex-row flex-wrap ">
        <div class="card-header" [inlineSVG]="'./assets/icons/launch.svg'" [setSVGAttributes]="{'width' : '36px', 'height' : '36px'}"></div>
        <div class="card-block">
          <span class="card-title">ЗАПУСКИ</span>
          <p class="card-text h4"> {{current_version.generalInfo.totalLaunches}}</p>
        </div>
      </div>
    </div>
    <div class="card table-card">
      <div class="card-body">
        <span class="card-title">Цели</span>
        <dx-data-grid class="table"
                      id="goalsContainer"
                      [dataSource]="this.current_version.goals"
                      [hoverStateEnabled]="true"
                      [allowColumnReordering]="true">
          <dxi-column  caption="Тип" dataField="type" dataType="string"></dxi-column>
          <dxi-column caption="Наименование" dataField="name" dataType="string"></dxi-column>
          <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
          <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
          <dxo-grouping texts="true: 'kek'" [autoExpandAll]="true"></dxo-grouping>
          <dxo-scrolling mode="infinite"></dxo-scrolling>
        </dx-data-grid>
      </div>
    </div>
    <div class="card table-card">
      <div class="card-body">
        <span class="card-title">Проекты</span>
        <dx-data-grid class="table"
          id="projectContainer"
          [dataSource]="this.current_version.projectProjects"
          [hoverStateEnabled]="true"
          [allowColumnReordering]="true"
          [showBorders]="true">
          <dxi-column  caption="Шифр" dataField="code" dataType="string"></dxi-column>
          <dxi-column caption="Наименование" dataField="name" dataType="string"></dxi-column>
          <dxi-column caption="Тип проекта" dataField="systemName" dataType="string"></dxi-column>
          <dxi-column caption="Приоритет" dataField="priority" dataType="string"></dxi-column>
          <dxi-column caption="Стоимость" dataField="cost" dataType="string"></dxi-column>
          <dxi-column caption="Освоено" dataField="mastered" dataType="string"></dxi-column>
          <dxi-column caption="Остаток" dataField="remains" dataType="string"></dxi-column>
          <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
          <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
          <dxo-grouping texts="true: 'kek'" [autoExpandAll]="true"></dxo-grouping>
          <dxo-scrolling mode="infinite"></dxo-scrolling>
        </dx-data-grid>
      </div>
    </div>

    <div class="card table-card">
      <div class="card-body">
        <span class="card-title">Мероприятия</span>
        <dx-data-grid class="table"
                      id="workEventsContainer"
                      [dataSource]="this.current_version.work_events"
                      [hoverStateEnabled]="true"
                      [remoteOperations]="false"
                      [allowColumnReordering]="true"
                      [showBorders]="true">
          <dxi-column  caption="Шифр" dataField="name" dataType="string"></dxi-column>
          <dxi-column caption="Наименование" dataField="name" dataType="string"></dxi-column>
          <dxi-column caption="Раздел Программы" dataField="sectionIdCode" dataType="string"></dxi-column>
          <dxi-column caption="Начало" dataField="dateFrom" dataType="string"></dxi-column>
          <dxi-column caption="Окончание" dataField="dateTo" dataType="string"></dxi-column>
          <dxi-column caption="Проект" dataField="projectIdCode" dataType="string"></dxi-column>
          <dxi-column caption="Выполнено" dataField="isDoneValue" dataType="string"></dxi-column>
          <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
          <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
          <dxo-grouping [allowCollapsing]="true" [autoExpandAll]="true"></dxo-grouping>
          <dxo-scrolling mode="infinite"></dxo-scrolling>
        </dx-data-grid>
      </div>
    </div>
  </ng-container>
</div>


