.loader {
  margin: 25% 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #192A3B;
  border-bottom: 16px solid #192A3B;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  margin-top: 25px;
}

.main-card {
  padding: 0 30px 30px 30px;
  border-color: #F2F7FB;
  border-radius: 8px;
  border-width: 18px;
  .main-card-header {
    background-color: #F2F7FB;
    margin: 0px -30px;
    border-color: #192A3B;
    opacity: 85%;
  }
}

.container-fluid {
  padding: 32px 17px;
  height: 94vh;
}

.version-header {
  font-size: 24px;
  display: block;
}
.title {
  display: block;
  border: #F2F7FB;
  font-size: 25px;
  font-weight: bold;
}
.text-muted{
  margin-top: 10px;
}
.version-select {
  font-size: 24px;
  line-height: 29px;
}
.select-item {
  display: inline;
}
.dropdown-menu {
  width: 100%;
}

.info-cards {
  background-color: #F2F7FB;
  border-radius: 8px;
  width: 72%;
  margin-top: 25px;
  padding: 20px;
  .card {
    padding-right: 24px;
    background: #F2F7FB;
    border: none;
    margin-top: 0;
    .card-header {
      opacity: 25%;
      background-color: #F2F7FB;
      border: none;
    }
    .card-title {
      color: #192A3B;
      font-size: 12px;
      opacity: 25%;
    }
    .card-text {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 34px;
    }
  }
 }
.table-card {
  border-color: #F2F7FB;
  border-radius: 8px;
  border-width: 18px;
  max-width: 100%;
  .card-title {
    margin-top: 24px;
    margin-left: 24px;
    font-size: 26px;
    line-height: 24px;
    border: none;
  }
  .card-body {
    border: none;
    font-size: 12px;
  }
  .chart-card {
    justify-content: center;
  }
  .table {
    margin: 16px 24px;
    max-width: 98%;
    display:block;
    max-height : 400px;
  }
  ::ng-deep #finance {
    margin: 16px 24px;
    max-width: 98%;
    max-height : 400px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
::ng-deep .chart {
  max-width: 98%;
  overflow-y: auto;
}
