@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  src: local('Golos'),
  url('/../../../assets/fonts/Golos/Golostextregular.woff2') format('woff2'),
  url('/../../../assets/fonts/Golos/Golostextregular.woff') format('woff');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  src: local('Golos'),
  url('/../../../assets/fonts/Golos/Golostextmedium.woff2') format('woff2'),
  url('/../../../assets/fonts/Golos/Golostextmedium.woff') format('woff');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  src: local('Golos'),
  url('/../../../assets/fonts/Golos/Golostextdemibold.woff2') format('woff2'),
  url('/../../../assets/fonts/Golos/Golostextdemibold.woff') format('woff');
}
