<div class="loader" *ngIf="!isLoaded"></div>
<div class="container-fluid justify-content-center" *ngIf="isLoaded">
  <h3 class="text-center">Общая информация</h3>
  <div class="card table-card">
    <div class="card-body">
      <span class="card-title">Задачи</span>
      <dx-data-grid class="table"
                    [dataSource]="this.goals"
                    [hoverStateEnabled]="true"
                    [allowColumnReordering]="true"
                    [showBorders]="true">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column  caption="Версия программы" dataField="versionCode" dataType="string"></dxi-column>
        <dxi-column caption="Задачи (кол-во)" dataField="totalObjectives" dataType="string"></dxi-column>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
  </div>
  <div class="card table-card">
    <div class="card-body">
      <span class="card-title">Мероприятия</span>
      <dx-data-grid class="table"
                    [dataSource]="this.workEvents"
                    [hoverStateEnabled]="true"
                    [allowColumnReordering]="true"
                    [showBorders]="true">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column  caption="Версия программы" dataField="versionCode" dataType="string"></dxi-column>
        <dxi-column caption="Мероприятия(кол-во)" dataField="totalWorks" dataType="string"></dxi-column>
        <dxi-column caption="Мероприятий выполнено" dataField="totalCompletedWorks" dataType="string"></dxi-column>
        <dxi-column caption="Мероприятий не начато" dataField="totalNotStartedWorks" dataType="string"></dxi-column>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
  </div>
  <div class="card table-card">
    <div class="card-body">
      <span class="card-title">Финансирование</span>
      <dx-data-grid class="table"
                    id="projectContainer"
                    [dataSource]="this.finances"
                    [hoverStateEnabled]="true"
                    [allowColumnReordering]="true"
                    [showBorders]="true">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column  caption="Версия программы" dataField="versionCode" dataType="string"></dxi-column>
        <dxi-column caption="Финансирование" dataField="totalFinance" dataType="string"></dxi-column>
        <dxi-column caption="Бюджет" dataField="totalFinanceBud" dataType="string"></dxi-column>
        <dxi-column caption="Внебюджет" dataField="totalFinanceNuBud" dataType="string"></dxi-column>
        <dxi-column caption="Финансовые лимиты" dataField="totalFinanceLimit" dataType="string"></dxi-column>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
  </div>
  <div class="card table-card">
    <div class="card-body">
      <dx-chart
        class="chart"
        title="Финансовые лимиты"
        [dataSource]="this.limits">
        <dxi-value-axis position="right">
          <dxo-title text="миллионы"></dxo-title>
        </dxi-value-axis>
        <dxo-series-template
          nameField="name">
        </dxo-series-template>
        <dxo-common-series-settings
          argumentField="argument"
          valueField="value"
          type="bar">
        </dxo-common-series-settings>
        <dxo-tooltip
          [enabled]="true"
          >
        </dxo-tooltip>
      </dx-chart>
    </div>
  </div>
  <div class="card table-card">
    <div class="card-body">
      <dx-chart
        class="chart"
        title="Изменения объемов финансирования"
        [dataSource]="this.financesByYear">
        <dxi-value-axis position="right">
          <dxo-title text="миллионы"></dxo-title>
        </dxi-value-axis>
        <dxo-series-template
          nameField="name">
        </dxo-series-template>
        <dxo-common-series-settings
          argumentField="argument"
          valueField="value"
          type="line">
        </dxo-common-series-settings>
        <dxo-tooltip
          [enabled]="true">
        </dxo-tooltip>
      </dx-chart>
    </div>
  </div>
</div>
