<div class="loader" *ngIf="!isLoaded"></div>
<div class="container-fluid" *ngIf="isLoaded">
  <h3 class="text-center">Средняя продолжительность по ОКР</h3>
  <div class="card table-card">
    <div class="card-body">
      <dx-tree-list class="table-tree"
                    [dataSource]="structures"
                    keyExpr="id"
                    parentIdExpr="parentId"
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="true"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [expandedRowKeys]="[1]">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column dataField="versionCode" caption="Версия"></dxi-column>
        <dxi-column dataField="name" caption="Наименование"></dxi-column>
        <dxi-column caption="2016" dataField="y2016" dataType="string"></dxi-column>
        <dxi-column caption="2017" dataField="y2017" dataType="string"></dxi-column>
        <dxi-column caption="2018" dataField="y2018" dataType="string"></dxi-column>
        <dxi-column caption="2019" dataField="y2019" dataType="string"></dxi-column>
        <dxi-column caption="2020" dataField="y2020" dataType="string"></dxi-column>
        <dxi-column caption="2021" dataField="y2021" dataType="string"></dxi-column>
        <dxi-column caption="2022" dataField="y2022" dataType="string"></dxi-column>
        <dxi-column caption="2023" dataField="y2023" dataType="string"></dxi-column>
        <dxi-column caption="2024" dataField="y2024" dataType="string"></dxi-column>
        <dxi-column caption="2025" dataField="y2025" dataType="string"></dxi-column>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-tree-list>
    </div>
  </div>
</div>
