<div class="loader" *ngIf="!isLoaded"></div>
<div class="container-fluid" *ngIf="isLoaded">
  <h3 class="text-center">Средняя продолжительность по ОКР</h3>
  <div class="card table-card">
    <div class="card-body">
      <dx-data-grid class="table"
                    [dataSource]="durations"
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="true"
                    [showRowLines]="true"
                    [showBorders]="true">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [mode]="'select'" [enabled]="true"></dxo-column-chooser>
        <dxi-column dataField="versionIdCode" caption="Версия" [groupIndex]="1"></dxi-column>
        <dxi-column dataField="shortName" caption="ОКР"></dxi-column>
        <dxi-column dataField="yearFrom" caption="Год начала"></dxi-column>
        <dxi-column dataField="yearTo" caption="Год окончания"></dxi-column>
        <dxi-column dataField="duration" caption="Продолжительность"></dxi-column>
        <dxo-group-panel [emptyPanelText]="'Группировать по полю'" [allowColumnDragging]="true" [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-search-panel [placeholder]="'Поиск'" [visible]="true"></dxo-search-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
  </div>
</div>
