<div class="container-fluid justify-content-center" *ngIf="isLoaded">
  <app-version-selector
    [versions]="versions"
    (versionSelected)="changeCurrentVersion($event)"
  ></app-version-selector>
  <div class="card table-card">
    <div class="card-body">
      <div class="card-title text-center">
        <span >Объем финансирования мероприятий Федеральной космической программы России на 2016-2025 годы в области прикладных научных исследований и экспериментальных разработок, выполняемых по договорам на проведение научно-исследовательских, опытно-конструкторских и технологических работ</span>
      </div>
          <dx-pivot-grid class="table" id="finance"
                         [allowSortingBySummary]="true"
                         [allowSorting]="true"
                         [allowFiltering]="true"
                         [allowExpandAll]="true"
                         [showBorders]="true"
                         [height]="'55vh'"
                         rowHeaderLayout="tree"
                         [dataSource]="dataSource">
            <dxo-field-chooser
              [allowSearch]="true"
              [enabled]="true">
            </dxo-field-chooser>
          </dx-pivot-grid>
    </div>
  </div>
</div>
